<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/adminLogin/admin.css}">


</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a th:href="@{/admin/index}" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-home"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>用户名</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd layadmin-event="logout" style="text-align: center;"><a th:href="@{/editor/password}">修改密码</a></dd>
                        <dd layadmin-event="logout" style="text-align: center;"><a th:href="@{/editor/information}">修改信息</a></dd>
                        <dd layadmin-event="logout" style="text-align: center;"><a th:href="@{/exit}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>后台管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY--side-menu"
                    lay-filter="layadmin-system-side-menu">

                    <li class="layui-nav-item layui-nav-itemed" shiro:hasPermission="admin">
                        <a class="" href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/allUser}">权限管理</a></dd>
                            <dd class="layui-this"><a th:href="@{/admin/createUser}">添加管理员</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">保单管理</a>
                        <dl class="layui-nav-child">
                            <dd shiro:hasPermission="admin" ><a class="" th:href="@{/admin}">所有保单</a></dd>
                            <dd><a class="" th:href="@{/create}">添加</a></dd>
                            <dd><a class="" th:href="@{/delete}">删除</a></dd>
                            <dd><a class="" th:href="@{/retrieve}">查找</a></dd>
                            <dd><a class="" th:href="@{/update}">更新</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" >
                        <a class="" href="javascript:;">个人信息管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/editor/password}">修改密码</a></dd>
                            <dd><a th:href="@{/editor/information}">修改信息</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <a>主页</a>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body">
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-card-header">添加管理员</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="" lay-filter="example">
                            <div class="layui-form-item">
                                <label class="layui-form-label">工号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="id" autocomplete="off"
                                           placeholder="不可输入，系统自动生成" class="layui-input" disabled="disabled">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="username" lay-verify="required|name" placeholder="请输入用户名"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">密码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="password" lay-verify="required|password"
                                           placeholder="请输入密码"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">权限框</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="create" title="添加" th:checked="${create==1}">
                                    <input type="checkbox" name="delete" title="删除" th:checked="${delete==1}">
                                    <input type="checkbox" name="retrieve" title="查找" th:checked="${retrieve==1}">
                                    <input type="checkbox" name="update" title="修改" th:checked="${update==1}">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="save">添加用户</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        form.verify({
            password: [
                /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_\-@&=])[a-z0-9_\-@&=]{6,12}/
                , '密码必须6到12位，且必须包含字母数字和特殊字符'
            ],
            name: [
                /^([\u4e00-\u9fa5]){2,7}$/
                , '姓名只能是中文，长度为2-7位'
            ]
        });
        form.on('submit(save)', function (data) {
            console.log(data.elem);//被执行事件的元素DOM对象，一般为button对象
            console.log(data.form);//被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field);//当前容器的全部表单字段，名值对形式：{name: value}
            $.ajax({
                url: "/admin/createUser/save",
                method: "post",
                data: data.field,
                dataType: "json",
                success: function (msg) {
                    // //清除表单内容
                    layer.msg(msg.success);
                    setTimeout(function () {
                        location.href="/admin/allUser";
                    },2000)
                },
                error: function () {
                    layer.msg("网络错误，注册失败");
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
</body>
</html>