<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/adminLogin/admin.css}">

</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a th:href="@{/admin/index}" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-home"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>用户名</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd layadmin-event="logout" style="text-align: center;">
                            <a th:href="@{/editor/password}">修改密码</a</dd>
                        <dd layadmin-event="logout" style="text-align: center;">
                            <a th:href="@{/editor/information}">修改信息</a>
                        </dd>
                        <dd layadmin-event="logout" style="text-align: center;">
                            <a th:href="@{/exit}">退出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>后台管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY--side-menu"
                    lay-filter="layadmin-system-side-menu">

                    <li class="layui-nav-item" shiro:hasPermission="admin">
                        <a class="" href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/allUser}">权限管理</a></dd>
                            <dd><a th:href="@{/admin/createUser}">添加管理员</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item ">
                        <a shiro:hasPermission="admin" th:href="@{/admin/insurance}">所有保单</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed" shiro:lacksPermission="admin">
                        <a class="" href="javascript:;">保单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/create}">添加</a></dd>
                            <dd><a th:href="@{/delete}">删除</a></dd>
                            <dd ><a th:href="@{/retrieve}">查找</a></dd>
                            <dd class="layui-this"><a th:href="@{/update}">更新</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">个人信息管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/editor/password}">修改密码</a></dd>
                            <dd><a th:href="@{/editor/information}">修改信息</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <a>主页</a>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body">
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-card-header">更新保单</div>
                    <div class="layui-card-body">
                        <table class="layui-table" id="userData" lay-filter="test"
                               lay-skin="line" shiro:lacksPermission="admin">
                        </table>
                        <script type="text/html" id="toolbarDemo">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDelete">批量删除
                                </button>
                            </div>
                        </script>
                        <script type="text/html" id="action">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="pass">编辑</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除
                                </button>
                            </div>
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:inline="none">
    layui.use(['table', 'form'], function () {
        var table = layui.table;
        var form = layui.form;
        var tableIns = table.render({
            elem: '#userData'
            , url: '/retrieve/insurance/data' //数据接口
            , toolbar: '#toolbarDemo'
            , page: true //开启分页
            , limits: [10, 20, 50, 100]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            , limit: 10 //每页默认显示的数量
            , skin: 'line'
            , size: 'lg'
            ,cellMinWidth: 80
            , cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: '工号'}
                , {field: 'holderName', title: '投保人'}
                , {field: 'mobile', title: '电话号码'}
                , {field: 'birthDate', title: '出生日期'}
                , {field: 'money', title: '保费'}
                , {
                    field: 'polName', title: '险种名称', templet: function (d) {
                        if (d.polName === 0)
                            return "意外险";
                        else if (d.polName === 1)
                            return "健康险";
                        else if (d.polName === 2)
                            return "补充医疗险";
                        else if (d.polName === 3)
                            return "分红险";
                    }
                }
                , {field: 'inforceTime', title: '添加时间'}
                , { title: '操作', align: 'center', toolbar: '#action'}
            ]]
        });
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'pass') { //通过
                layer.open({
                    type: 2
                    , title: '保单更改'
                    , content: ["/update/insurance/" + data.id, 'no']
                    , maxmin: true
                    , area: ['550px', '680px']
                });
            } else if (layEvent === 'delete') { //删除
                layer.confirm('删除投保人姓名为“' + data.holderName+ '”的保单么', function (index) {
                    $.ajax({
                        url: '/delete/insurance/' + data.id,
                        method: "delete",
                        dataType: "json",
                        success: function (msg) {
                            layer.msg(msg.success);
                            // //清除表单内容
                            tableIns.reload();
                        },
                        error: function () {
                            layer.msg("网络错误，通过失败");
                        }
                    });
                });
            }
        });
        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchDelete':
                    var data = checkStatus.data;
                    // layer.alert(JSON.stringify(data));
                    var ids = '';
                    for (var i = 0; i < data.length; i++) {
                        if (i !== (data.length - 1)) {
                            ids += data[i].holderName + ",";
                        } else {
                            ids += data[i].holderName;
                        }
                    }
                    layer.confirm('删除投保人姓名为“' + ids + '”的保单么', function (index) {
                        for (var i = 0; i < data.length; i++) {
                            $.ajax({
                                url: '/delete/insurance/' + data.id,
                                method: "post",
                                dataType: "json",
                                success: function (msg) {
                                    layer.msg(msg.success);
                                    // //清除表单内容
                                },
                                error: function () {
                                    layer.msg("网络错误，通过失败");
                                }
                            });
                        }
                        tableIns.reload();
                    });
                    break;
            }
        });
    });
</script>
</body>
</html>