<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/assets/layui/css/layui.css"
          th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/adminLogin/admin.css}">

</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>

                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a th:href="@{/index}" layadmin-event="flexible" title="">
                        <i class="layui-icon layui-icon-home"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;">
                        <cite>工号：[[${session.user.id}]]</cite>
                    </a>
                </li>

                <li class="layui-nav-item" lay-unselect>

                    <a href="javascript:;">
                        <cite>姓名：[[${session.user.username}]]</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd layadmin-event="logout" style="text-align: center;"><a
                                th:href="@{/editor/password}">修改密码</a></dd>
                        <dd layadmin-event="logout" style="text-align: center;"><a
                                th:href="@{/editor/information}">修改信息</a></dd>
                        <dd layadmin-event="logout" style="text-align: center;"><a
                                th:href="@{/editor/headPhoto}">修改头像</a></dd>
                        <dd layadmin-event="logout" style="text-align: center;"><a th:href="@{/exit}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>后台管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY--side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li  shiro:hasPermission="admin" class="layui-nav-item ">
                        <a th:href="@{/admin/insurance}">所有保单</a>
                    </li>
                    <li class="layui-nav-item" shiro:hasPermission="admin">
                        <a class="" href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/admin/allUser}">权限管理</a></dd>
                            <dd><a th:href="@{/admin/createUser}">添加管理员</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item " shiro:lacksPermission="admin">
                        <a class="" href="javascript:;">保单管理</a>
                        <dl class="layui-nav-child">
                            <dd><a class="" th:href="@{/create}">添加</a></dd>
                            <dd><a class="" th:href="@{/delete}">删除</a></dd>
                            <dd><a class="" th:href="@{/retrieve}">查找</a></dd>
                            <dd><a class="" th:href="@{/update}">更新</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">个人信息管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/editor/password}">修改密码</a></dd>
                            <dd><a th:href="@{/editor/information}">修改信息</a></dd>
                            <dd shiro:lacksPermission="admin">
                                <a th:href="@{/editor/headPhoto}">修改头像</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <a>主页</a>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body">
            <div class="layui-fluid" shiro:hasPermission="admin">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md8">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">我的效绩</div>
                                    <div class="layui-card-body">
                                        <div class="layui-carousel  layadmin-backlog" style="background-color:#fff;">
                                            <ul class="layui-row layui-col-space10">
                                                <li class="layui-col-xs3">
                                                    <a lay-href="app/content/comment.html" class="layadmin-backlog-body"
                                                       onclick="layer.tips('意外险数量', this, {tips: 3});">
                                                        <h3>意外险数量</h3>
                                                        <p><cite>[[${session.baodan0}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a lay-href="app/forum/list.html" class="layadmin-backlog-body"
                                                       onclick="layer.tips('健康险数量', this, {tips: 3});">
                                                        <h3>健康险数量</h3>
                                                        <p><cite>[[${session.baodan1}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a lay-href="template/goodslist.html" class="layadmin-backlog-body"
                                                       onclick="layer.tips('补充医疗险数量', this, {tips: 3});">
                                                        <h3>补充医疗险数量</h3>
                                                        <p><cite>[[${session.baodan2}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a onclick="layer.tips('分红险数量', this, {tips: 3});"
                                                       class="layadmin-backlog-body">
                                                        <h3>分红险数量</h3>
                                                        <p><cite>[[${session.baodan3}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a onclick="layer.tips('保单总数', this, {tips: 3});"
                                                       class="layadmin-backlog-body">
                                                        <h3>保单总数</h3>
                                                        <p><cite>[[${session.baodanNumbers}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a lay-href="app/forum/list.html" class="layadmin-backlog-body"
                                                       onclick="layer.tips('添加权限数量', this, {tips: 3});">
                                                        <h3>添加权限数量</h3>
                                                        <p><cite>[[${session.createCounts}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a lay-href="template/goodslist.html" class="layadmin-backlog-body"
                                                       onclick="layer.tips('更新权限数量', this, {tips: 3});">
                                                        <h3>更新权限数量</h3>
                                                        <p><cite>[[${session.updateCounts}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a onclick="layer.tips('删除权限数量', this, {tips: 3});"
                                                       class="layadmin-backlog-body">
                                                        <h3>删除权限数量</h3>
                                                        <p><cite>[[${session.deleteCounts}]]</cite></p>
                                                    </a>
                                                </li>
                                                <li class="layui-col-xs3">
                                                    <a onclick="layer.tips('查看权限数量', this, {tips: 3});"
                                                       class="layadmin-backlog-body">
                                                        <h3>查看权限数量</h3>
                                                        <p><cite>[[${session.retrieveCounts}]]</cite></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-tab layui-tab-brief layadmin-latestData">
                                        <ul class="layui-tab-title">
                                            <li class="layui-this">保单险种分布</li>
                                            <li>权限分布</li>
                                        </ul>
                                        <div class="layui-tab-content">
                                            <div class="layui-tab-item layui-show">
                                                <div id="baodanAdmin" style="width: 811px;height:400px;"></div>
                                            </div>
                                            <div class="layui-tab-item">
                                                <div id="permissionAdmin" style="width: 811px;height:400px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card">


                                    <div class="layui-tab layui-tab-brief layadmin-latestData">
                                        <ul class="layui-tab-title">
                                            <li class="layui-this">员工活跃排名</li>
                                            <li>员工成绩排名</li>
                                        </ul>
                                        <div class="layui-tab-content">
                                            <div class="layui-tab-item layui-show">
                                                ///
                                            </div>
                                            <div class="layui-tab-item">
                                                //
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">版本信息</div>
                            <div class="layui-card-body layui-text">
                                <table class="layui-table">
                                    <colgroup>
                                        <col width="100">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>当前版本</td>
                                        <td>
                                            1.0.0
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>基于框架</td>
                                        <td>
                                            springboot / spring data jpa / layui
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="layui-card">
                            <div class="layui-card-header">效果报告</div>
                            <div class="layui-card-body layadmin-takerates">
                                <div class="layui-progress" lay-showPercent="yes">
                                    <h3>招聘率（日同比 28% <span class="layui-edge layui-edge-top" lay-tips="增长"
                                                          lay-offset="-15"></span>）</h3>
                                    <div class="layui-progress-bar" lay-percent="65%"></div>
                                </div>
                                <div class="layui-progress" lay-showPercent="yes">
                                    <h3>发帖率（日同比 11% <span class="layui-edge layui-edge-bottom" lay-tips="下降"
                                                          lay-offset="-15"></span>）</h3>
                                    <div class="layui-progress-bar" lay-percent="32%"></div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-card">
                            <div class="layui-card-header">实时监控</div>
                            <div class="layui-card-body layadmin-takerates">
                                <div class="layui-progress" lay-showPercent="yes">
                                    <h3>CPU使用率</h3>
                                    <div class="layui-progress-bar" lay-percent="58%"></div>
                                </div>
                                <div class="layui-progress" lay-showPercent="yes">
                                    <h3>内存占用率</h3>
                                    <div class="layui-progress-bar layui-bg-red" lay-percent="90%"></div>
                                </div>
                            </div>
                        </div>


                        <div class="layui-card">
                            <div class="layui-card-header">
                                作者心语
                                <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
                            </div>
                            <div class="layui-card-body layui-text layadmin-text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-fluid" shiro:lacksPermission="admin">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md8">
                        <div class="layui-card">
                            <div class="layui-tab layui-tab-brief layadmin-latestData">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">保单险种分布</li>

                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <div id="baodan" style="width: 841px;height:400px;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">控制台</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel  layadmin-backlog" style="background-color:#fff;">
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs4">
                                            <a lay-href="app/content/comment.html" class="layadmin-backlog-body"
                                               onclick="layer.tips('意外险数量', this, {tips: 3});">
                                                <h3>意外险数量</h3>
                                                <p><cite>[[${session.baodan0}]]</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs4">
                                            <a lay-href="app/forum/list.html" class="layadmin-backlog-body"
                                               onclick="layer.tips('健康险数量', this, {tips: 3});">
                                                <h3>健康险数量</h3>
                                                <p><cite>[[${session.baodan1}]]</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs4">
                                            <a lay-href="template/goodslist.html" class="layadmin-backlog-body"
                                               onclick="layer.tips('补充医疗险数量', this, {tips: 3});">
                                                <h3>补充医疗险数量</h3>
                                                <p><cite>[[${session.baodan2}]]</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs4">
                                            <a onclick="layer.tips('分红险数量', this, {tips: 3});"
                                               class="layadmin-backlog-body">
                                                <h3>分红险数量</h3>
                                                <p><cite>[[${session.baodan3}]]</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs4">
                                            <a onclick="layer.tips('保单总数', this, {tips: 3});"
                                               class="layadmin-backlog-body">
                                                <h3>保单总数</h3>
                                                <p><cite>[[${session.baodanNumbers}]]</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery.js}"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/echarts.js}"></script>
<script shiro:lacksPermission="admin">
    // 绘制图表。
    echarts.init(document.getElementById('baodan')).setOption({
        title: {
            text: '保单种类分布',
            subtext: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['意外险', '健康险', '补充医疗险', '分红险']
        },
        series: [{
            name: '种类数目',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
                {
                    value: [[${session.baodan0}]],
                    name: '意外险'
                },
                {
                    value: [[${session.baodan1}]],
                    name: '健康险'
                },
                {
                    value: [[${session.baodan2}]],
                    name: '补充医疗险'
                },
                {
                    value: [[${session.baodan3}]],
                    name: '分红险'
                }
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    });
</script>
<script shiro:hasPermission="admin">
    // 绘制图表。
    echarts.init(document.getElementById('baodanAdmin')).setOption({
        title: {
            text: '保单种类分布',
            subtext: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['意外险', '健康险', '补充医疗险', '分红险']
        },
        series: [{
            name: '种类数目',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
                {
                    value: [[${session.baodan0}]],
                    name: '意外险'
                },
                {
                    value: [[${session.baodan1}]],
                    name: '健康险'
                },
                {
                    value: [[${session.baodan2}]],
                    name: '补充医疗险'
                },
                {
                    value: [[${session.baodan3}]],
                    name: '分红险'
                }
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    });
    echarts.init(document.getElementById('permissionAdmin')).setOption({
        title: {
            text: '权限分布',
            subtext: '',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['添加权限', '查询权限', '修改权限', '删除权限']
        },
        series: [{
            name: '权限数目',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [
                {
                    value: [[${session.createCounts}]],
                    name: '添加权限'
                },
                {
                    value: [[${session.retrieveCounts}]],
                    name: '查询权限'
                },
                {
                    value: [[${session.updateCounts}]],
                    name: '修改权限'
                },
                {
                    value: [[${session.deleteCounts}]],
                    name: '删除权限'
                }
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }]
    });
</script>
</body>
</html>