<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base id="base" href="${base}">
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link rel="stylesheet"  type="text/css"  th:href="@{/layui/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>

<div class="login-back"></div>
<div class="layui-container">
    <div class="logo"><img th:src="@{/css/images/logo1.png}"  width="50" height="50"></div>
    <div class="logo-title">chinalife 后台管理系统</div>
    <div class="logo-txt">chinalife supply management system</div>
    <div class="layui-row login-box">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="login-img"><img th:src="@{/css/images/login-left.png}"></div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="login-tt">账户登录</div>
            <div class="login-form">
                <input type="text" placeholder="请输入用户名" class="layui-input login01" name="id" id="id">
                <input type="password" placeholder="请输入密码" class="layui-input login02" id="password" name="password">
                <div class="relative">
                    <input type="text" placeholder="请输入验证码" class="layui-input login03" id="tryCode">
                    <div class="yzm"><img onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" ></div>
                </div>
                <button type="button" class="layui-btn login-btn" id="login">登录</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
</body>
<script>
    //加载弹出层组件
    $(function () {
        $("#login").click(function () {
            var id = $("#id").val();
            var password = $("#password").val();
            var tryCode = $("#tryCode").val();
            $.ajax({
                url: "/login/post",
                data: {
                    id: id,
                    password: password,
                    tryCode: tryCode
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href = "/index";
                    } else {
                        layer.msg(data.error);
                        $("#code").click();
                    }
                }, error: function () {
                    layer.msg("网络错误，登录失败");
                }
            })
        })
    })
</script>
</html>