<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base id="base" href="${base}">
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>

<div class="login-back"></div>
<div class="layui-container">
    <div class="logo"><img th:src="@{/css/images/logo1.png}" width="50" height="50"></div>
    <div class="logo-title">chinalife 后台管理系统</div>
    <div class="logo-txt">chinalife background management system</div>
    <div class="layui-row login-box">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="login-img"><img th:src="@{/css/images/login-left.png}"></div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="login-tt">账户登录</div>
            <form class="layui-form">
                <div class="login-form">
                    <input type="text" placeholder="请输入工号" lay-verify="required|number" class="layui-input login01"
                           name="id" id="id">
                    <input type="password" placeholder="请输入密码" lay-verify="required|password"
                           class="layui-input login02" id="password" name="password">
                    <div class="relative">
                        <input type="text" placeholder="请输入验证码" lay-verify="required" class="layui-input login03"
                               id="tryCode">
                        <div class="yzm"><img onclick="this.src='/defaultKaptcha?d='+new Date()*1"
                                              src="/defaultKaptcha"></div>
                    </div>
                    <button class="layui-btn login-btn" lay-submit="" lay-filter="save">登录</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        //执行一个laydate实例
        form.verify({
            password: [
                /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[_\-@&=])[a-z0-9_\-@&=]{6,12}/
                , '密码必须6到12位，且必须包含字母数字和特殊字符'
            ]
        });
        form.on('submit(save)', function (data) {
            console.log(data.elem);//被执行事件的元素DOM对象，一般为button对象
            console.log(data.form);//被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field);//当前容器的全部表单字段，名值对形式：{name: value}
            var id = $("#id").val();
            var password = $("#password").val();
            var tryCode = $("#tryCode").val();
            $.ajax({
                url: "/login/post",
                data: {
                    id: id,
                    password: password,
                    tryCode: tryCode
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href = "/index";
                    } else {
                        layer.msg(data.error);
                        $("#tryCode").click();
                    }
                }, error: function () {
                    layer.msg("网络错误，登录失败");
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
</body>
</html>