<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base id="base" href="${base}">
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/normalize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/demo.css}"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{/login/css/component.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>

</head>
<body>
<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>登录</h3>
                <form action="#" name="f" method="post">
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="username" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="请输入账户" id="username">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="请输入密码" id="password">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="请输入验证码" id="tryCode" >

                    </div>
                    <img alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />
                    <div class="mb2">
                        <a id="login" lay-filter="sub" class="act-but submit" href="javascript:;"
                                        style="color: #FFFFFF">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{login/js/TweenLite.min.js}"></script>
<script th:src="@{login/js/EasePack.min.js}"></script>
<script th:src="@{login/js/rAF.js}"></script>
<script th:src="@{login/js/demo-1.js}"></script>
</body>
<script>
    //加载弹出层组件
    $(function () {
        $("#login").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var tryCode = $("#tryCode").val();
            $.ajax({
                url: "/login/post",
                data: {
                    username: username,
                    password: password,
                    tryCode:tryCode
                },
                type: "post",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href="/index";
                    }
                   else
                       layer.msg(data.error)
                }, error: function () {
                    layer.msg("网络错误，登录失败");
                }
            })
        })
    })
</script>
</html>